.Toastify__toast {
  position: fixed;
  top: 25px;
  left: 0px;
  right: 0px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 5px 10px !important;
  min-height: 45px !important;
  height: 45px;
  font-size: 12.5px;
  font-family: 'Pretendard-Regular';
  z-index: 1000;
  color: white;
}

.Toastify__toast--info {
  background-color: rgb(73, 73, 73);
}

.Toastify__toast--success {
  background-color: #186D41 !important;
  color: white !important;
  font-weight: bold;
}

.Toastify__toast--error {
  background-color: rgb(255, 114, 114) !important;
}